@viewport {
    width: device-width;
    zoom: 1.0;
}

html {
    font-size: 14pt; /* Set base font size */
}

body {
    margin: auto;
    padding: .5rem .5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-width: 320px;
    max-width: 400px;
}

h1, h2 {
    color: #c00;
    border-bottom: solid 1pt #007;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    padding: .2em;
    padding-top: .1em;
    margin-top: .2em;
    text-align: center;
}

h1 {
    font-size: 14pt;
}

div {
    padding: .2em 0;
}

button {
    margin: .2em;
    padding: .2em .5em;
    border-radius: 50%;
    border: solid 2px #337;
    background-color: #BBF;
    color: #500;
    font-weight: bold;
    font-size: 14pt;
}

input[type="text"] {
    border: none;
    font-family: courier,monospace,fixed;
    font-size: 14pt;
    width: 3em;
    background-color: #eee;
}

a:link {
    color: #700;
    text-decoration: none;
}

a:visited {
    color: #755;
}

a:hover {
    text-decoration: underline;
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.welcome .bigbutton {
    margin: 0 .2rem;
    height: 2rem;
    width: 7rem;
}

.bigbutton {
    border-radius: .2rem;
    font-size: 16pt;
    text-align: center;
    margin: 0 auto;
}

.intensify {
    color: #700;
}

.results {
    padding: .2rem;
    background: #ffa;
    margin: .1rem 0;
    border: solid .1rem #777;
    border-bottom-color: #eee;
    border-right-color: #eee;
}

.copyright {
    font-size: 10pt;
    margin-top: .8rem;
    padding: .2rem;
    border-top: solid .1rem;
}

.slide-switch {
    position: absolute;
    left: -10rem;
    top: -10rem;
}

.slide-switch ~ label {
    display: inline-block;
    width: 2rem;
    height: 1rem;
    margin: .2rem .3rem -.2rem 0;
    overflow: hidden;
    border: solid .1rem #777;
    border-bottom-color: #aab;
    border-right-color:  #aab;
    border-radius: .6rem;
    background-color: #eee;
    /*box-shadow: 0rem .2rem .5rem 0rem rgba(0,0,0,0.3);*/
}

.slide-switch ~ label:before {
    content: '\2022'; /* bullet */
    font-size: 2.6rem;
    position: relative;
    background-color: none;
    padding: -.5rem 0;
    /* if you specify a background other than 'none' you'll need: */
    padding-right: 2rem; /* to fill all background */
    top: -1rem;
    left: 0;
    color: #777;
}

.slide-switch:checked ~ label:before {
    padding-left: 1rem;
    padding-right: 1rem; /* to paint all background */
    background-color: #9f7;
    color: #000;
}
